.container {
    background-color: black;
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 0 0 0 150px;
    color: white;
}

.info {
    max-width: 800px;
}

.title {
    font-size: 48px;
}

.highlight {
    color: #50BCD2;
}

.description {
    font-size: 32px;
}