.container {
    background-color: black;
    min-height: 100vh;
    color: white;
    padding: var(--header-height) 30px 30px;
    position: relative;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
    flex: 1;
}

.info {
    max-width: 800px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    flex: 1;
    justify-content: center;
    margin-left: 150px;
    @media (max-width: 768px) {
        margin-left: 0;
    }
}


.title {
    font-size: 48px;
    @media (max-width: 768px) {
        font-size: 32px;
    }
}

.highlight {
    color: #50BCD2;
}

.hr {
    height: 1px;
    width: 100%;
    background-color: #414141;
}

.description {
    font-size: 32px;
    @media (max-width: 768px) {
        font-size: 18px;
    }
}

.lines {
    width: 100%;
    position: relative;
}

.line {
    height: 1px;
    width: 100%;
    background-color: #5F5F5F;
}

.line2 {
    position: absolute;
    height: 1px;
    width: 40px;
    background-color: white;
    top: 0;
    right: 0;
}

.logoOnBackground {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(60%, -50%);
    @media (max-width: 768px) {
        top: 0;
        transform: translate(30%, -30%);
    }
}