.container {
    background-color: black;
    height: 100vh;
    display: flex;
    align-items: flex-start;
    color: white;
    padding: var(--header-height) 30px 30px;
    position: relative;
    flex-direction: column;
    justify-content: space-between;
}

.info {
    max-width: 800px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    flex: 1;
    justify-content: center;
    margin-left: 150px;
}

.title {
    font-size: 48px;
}

.highlight {
    color: #50BCD2;
}

.hr {
    height: 1px;
    width: 800px;
    background-color: #414141;
}

.description {
    font-size: 32px;
}

.lines {
    width: 100%;
    position: relative;
}

.line {
    height: 1px;
    width: 100%;
    background-color: #5F5F5F;
}

.line2 {
    position: absolute;
    height: 1px;
    width: 40px;
    background-color: white;
    top: 0;
    right: 0;
}