.container {
    background-color: black;
    height: 100vh;
    display: flex;
    align-items: center;
    color: white;
    padding: var(--header-height) 0 0 150px;
}

.info {
    max-width: 800px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.title {
    font-size: 48px;
}

.highlight {
    color: #50BCD2;
}

.hr {
    height: 1px;
    width: 800px;
    background-color: #414141;
}

.description {
    font-size: 32px;
}