.container {
    position: relative;
}

.corner {
    width: 15px;
    height: 15px;
    position: absolute;
    z-index: 1;
    & > svg {
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        position: absolute;
    }
}

.leftUp {
    top: 0;
    left: 0;
}

.leftDown {
    left: 0;
    bottom: 0;
    transform: rotate(270deg);
}

.rightUp {
    right: 0;
    top: 0;
    transform: rotate(90deg);
}

.rightDown {
    right: 0;
    bottom: 0;
    transform: rotate(180deg);
}
