.container {
    min-height: 100vh;
    background-color: #31393C;
    display: flex;
    flex-direction: column;
    gap: 57px;
    padding: var(--header-height) 40px 40px;
    position: relative;
    z-index: 1;
    @media (max-width: 768px) {
        gap: 18px;
    }
}

.directionsTitle {
    font-size: 48px;
    color: white;
    @media (max-width: 768px) {
        font-size: 24px;
    }
}

.directionsGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    column-gap: 32px;
    row-gap: 18px;
    @media (max-width: 768px) {
        display: flex;
        flex-direction: column;
    }
}

.card {
    position: relative;
    & > img {
        width: 100%;
    }
}

.text {
    color: #D2D2D2;
    position: absolute;
    left: 24px;
    bottom: 24px;
    font-size: 24px;
    max-width: 100%;
    @media (max-width: 768px) {
        font-size: 14px;
        left: 16px;
        bottom: 16px;
    }
}