.container {
    padding: 40px;
    min-height: 100vh;
    background-color: #31393C;
    display: flex;
    flex-direction: column;
    gap: 57px;
}

.directionsTitle {
    font-size: 48px;
    color: white;
}

.directionsGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    column-gap: 32px;
    row-gap: 18px;
}

.card {
    position: relative;
    & > img {
        width: 100%;
    }
}

.text {
    color: #D2D2D2;
    position: absolute;
    left: 24px;
    bottom: 24px;
    font-size: 24px;
    max-width: 500px;
}