.container {
    display: flex;
    flex-direction: column;
    gap: 50px;
    height: 100vh;
    padding: var(--header-height) 40px 40px;
}

.title {
    font-size: 48px;
}

.list {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.hr {
    height: 1px;
    width: 600px;
    background-color: rgba(64, 64, 64, 0.24);
}

.row {
    display: flex;
    gap: 37px;
}

.description {
    font-size: 32px;
}

.logo {
    color: #50BCD2;
}