.container {
    display: flex;
    flex-direction: column;
    gap: 50px;
    min-height: 100vh;
    padding: var(--header-height) 40px 40px;
    z-index: 2;
    position: relative;
}

.title {
    font-size: 48px;
    @media (max-width: 768px) {
        font-size: 24px;
    }
}

.list {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.hr {
    height: 1px;
    max-width: 600px;
    background-color: rgba(64, 64, 64, 0.24);
}

.row {
    display: flex;
    gap: 37px;
    & > :first-child {
        flex-shrink: 0;
    }
}

.description {
    font-size: 32px;
    @media (max-width: 768px) {
        font-size: 18px;
    }
}

.image {
    width: 100%;
    height: auto;
}

.imageWrapper {
    align-self: center;
    will-change: transform;
}
