@import "reset.css";

:root {
    --header-height: 123px;
    --mobile: 480px;
    --tablet: 768px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Raleway', sans-serif;
    background-color: #F6F6F6;
    color: #000;
    overflow-x: hidden;
}

