.container {
    background-color: transparent;
    color: white;
    padding: 40px;
    display: flex;
    justify-content: space-between;
    position: fixed;
    z-index: 1000;
    width: 100%;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

.titleWithLogo {
    display: flex;
    align-items: center;
    gap: 14px;
}

.title {
    font-size: 24px;
}

.button {
    background: #31393C;
    min-width: 285px;
    padding: 12px;
}