.container {
    color: white;
    padding: 40px;
    display: flex;
    justify-content: space-between;
    position: fixed;
    z-index: 1000;
    width: 100%;
    transition: all 1s ease;
    @media (max-width: 768px) {
        padding: 24px 16px;
    }
}

.titleWithLogo {
    display: flex;
    align-items: center;
    gap: 14px;
}

.title {
    font-size: 24px;
    @media (max-width: 768px) {
        font-size: 18px;
    }
}

.button {
    background: #31393C;
    min-width: 285px;
    padding: 12px;

    @media (max-width: 768px) {
        min-width: auto;
    }
}

.dark {
    color: white;
    background: linear-gradient(to bottom,
    rgba(0, 0, 0, 100) 60%,
    rgba(0, 0, 0, 0) 100%);
}

.dark .button {
    background: #31393C;
    color: white;
}

.light {
    color: #000;
    background: linear-gradient(to bottom,
    rgba(255, 255, 255, 100) 60%,
    rgba(255, 255, 255, 0) 100%);
    transition: all 1s ease;
}

.light .button {
    background: #ECECEC;
    color: #000;
}
