.footer {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 62px;
}

.footerLogo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.footerContent {
    display: flex;
    flex: 1 0;
    align-items: center;
    justify-content: center;
    gap: 128px;
}

.footerInfo {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.link {
    color: #000;
}

.footerNotice {
    color: black;
    padding: 20px;
}

.hr {
    height: 1px;
    background-color: #4B4B4B;
    width: 90%;
}

.footerBrand {
    width: 100%;
    & > img {
        width: 100%;
    }
}
