.footer {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footerContent {
    display: flex;
    flex: 1 0;
    align-items: center;
    justify-content: center;
    gap: 128px;
}
